body {
    background: #1a2a6c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc7070, #1fb297, #fdbb2d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc7070, #1fb297, #fdbb2d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    line-height:2;
}