body{
    background: #1a2a6c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    cursor: url('unicorn2.png'), auto;	
} 

body, html {
    height: 100%;
  }

li {
    margin-left: -20px;
}

.form-control {
    margin-bottom: 10px;
}

h2 {
    font-family: 'Chewy', cursive;
    
}

.editlink {
    text-decoration: none;
    color: black;
}

a.editlink:hover {
    text-decoration: none;
    color: black;
}

a.editlink:visited {
    text-decoration: none;
    color: black;
}

.inline {
    display: inline;
}

.deleteLink {
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}

a.deleteLink:hover {
    text-decoration: none;
    color: black;
}

a.deleteLink:visited {
    text-decoration: none;
    color: black;
}
.deleteLink:focus {
    outline: none;
}

.main-content {
    background: rgba(255, 255, 255, 0.85);
    margin-top: 5%;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;

}

@media screen and (max-width: 600px) {
    .main-content {
        padding-bottom: 30px;
    }
  }

@media screen and (min-width: 600px) {
    .main-content {
        padding: 50px;

    }
}


input.read-button {
    background-color: #ffffff00;
    border-color: coral;
    text-align: center;
    padding-left: 0.2em;
    color:lightcoral;
    height: 20px;
    width: 20px;
    position: absolute;
    font-size: 87%;
}

.book-unread:hover {
    color:black;
}

.book-read {
    color:black !important;
}

.book-read:hover {
    color: lightcoral !important;
}