body{
    background: #1a2a6c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
} /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

li {
    margin-left: -20px;
}

.form-control {
    margin-bottom: 10px;
}

h2 {
    font-family: 'Chewy', cursive;
    
}

.main-content {
    background: rgba(255, 255, 255, 0.85);
    margin-top: 5%;
    border-radius: 25px;
    font-family: 'Noto Sans JP', sans-serif;

}

@media screen and (max-width: 600px) {
    .main-content {
        padding-bottom: 30px;
    }
  }

@media screen and (min-width: 600px) {
    .main-content {
        padding: 50px;

    }
}