body {
    background: url(https://ae01.alicdn.com/kf/HTB1wndaaELrK1Rjy0Fjq6zYXFXaD/Capisco-Unicorn-Birthday-Party-Photography-Backdrops-Newborn-Baby-Shower-Photo-Background-Rainbow-Flower-Backdrop-Photo-Studio.jpg) no-repeat fixed center top;
    background-size: cover;
    line-height:2;
}