<div th:fragment="list (list, read)">

<span th:if="${list.size() == 0}" th:text="${read} ? 'You have not marked any books as read yet' : 'You have no unread books'"></span>
<ul th:unless="${list.size() == 0}">
    <li th:each="book : ${list}">
        <a class="booklink" th:href="@{'/book/' + ${book.id}}"><b><span th:text="${book.title}">Title</span></b></a>
        <span th:if= "${book.author != ''}" th:text="': ' + ${book.author}">Author</span>
        <span th:if= "${book.isbn !='' and book.isbn !='error'}" th:text="'/ ISBN: ' + ${book.isbn}">ISBN</span>
        <a th:href="@{'/books/edit/' + ${book.id}}" class="editlink">🖊</a>
        <form th:onSubmit="return confirm('Delete this book?')" th:action="@{'/books/delete/' + ${book.id}}" class="inline" method="POST">
            <input type="submit" th:id="deleteBook_ + ${book.title}" th:name="deleteBook_ + ${book.title}" value="🗑️" class="deleteLink" />
        </form>
        <form th:onSubmit="return confirm('Toggle read status?')" th:action="@{'/books/editread/' + ${book.id}}" class="inline" method="POST">
            <input type="submit" 
            th:id="markreadBook_ + ${book.title}" 
            th:name="markreadBook_ + ${book.title}" 
            th:title="${read} ? 'Mark as unread' : 'Mark as read'" 
            th:value="${read} ? 'mark unread' : 'mark read'" 
            class="btn btn-outline-info btn-sm"   />
        </form>
    </li>
</ul>
</div>