<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saved books</title>
    <th:block th:include="fragments/head.html :: head">
    </th:block>
</head>

<body>

<div class="container main-content">
    <div class="row">
        <div class="col-md-7">
            <th:block th:include="fragments/booklist.html :: list(list=${list}, read=false)">
            </th:block>

            <div th:if="${newbook}"><div id='showMe' class="pyro" ><div class="before"></div>
                <div class="after"></div></div></div>

            <th:block th:include="fragments/booklist.html :: list(list=${listread}, read=true)">
            </th:block>
        </div>
        <div class="col-md-5">
            <th:block th:include="fragments/form.html :: form">
            </th:block>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button style="float:right" class="btn btn-outline-info btn-sm read-button" onClick=switchUnicorn()>unicorn</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>