<!DOCTYPE html>

<script type="text/javascript">
    function deleteConfirm(form) {
        if (confirm("Delete this book?")) {
            form.submit();
        }
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Saved books</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Chewy|Noto+Sans+JP&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>

    </head>

    <body>

    <div class="container main-content">
        <div class="col-md-6">
            <h2>Books</h2>
            <span th:if="${list.size() == 0}">You have no reading tips</span>
            <ul th:unless="${list.size() == 0}">
                <li th:each="alkio : ${list}">
                    <b><span th:text="${alkio.title}">Title</span></b>
                    <span th:if= "${alkio.author != ''}" th:text="'/ ' + ${alkio.author}">Author</span>
                    <span th:if= "${alkio.isbn !='' and alkio.isbn !='error'}" th:text="'/ ISBN: ' + ${alkio.isbn}">ISBN</span>
                    <a th:href="@{'/books/edit/' + ${alkio.id}}" class="editlink">🖊</a>
                    <form th:action="@{'/books/delete/' + ${alkio.id}}" class="inline" method="POST">
                        <input type="button" th:onClick="deleteConfirm(this.form)" th:id="deleteBook_ + ${alkio.title}" th:name="deleteBook_ + ${alkio.title}" value="🗑️" class="deleteLink" />
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <!--/*/ <th:block th:include="fragments/form.html :: form">
                </th:block> /*/-->
        </div>
    </body>
</html>


