<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Saved books</title>
        <!--/*/ <th:block th:include="fragments/head.html :: head">
        </th:block> /*/-->

    </head>

    <body>

    <div class="container main-content">
        <div class="col-md-6">
            <!--/*/ <th:block th:include="fragments/booklist.html :: list(list=${list}, read=false)">
                </th:block> /*/-->
 
            <!--/*/ <th:block th:include="fragments/booklist.html :: list(list=${listread}, read=true)">
                </th:block> /*/-->
        </div>
        <div class="col-md-6">
            <!--/*/ <th:block th:include="fragments/form.html :: form">
                </th:block> /*/-->
        </div>
    </body>
</html>


