<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Saved books</title>
        <!--/*/ <th:block th:include="fragments/head.html :: head">
        </th:block> /*/-->

    </head>

    <body>

        <div class="container main-content">
            <div class="col-md-6">
                <b><span th:text="${book.title}"></span></b>
                <span th:if= "${book.author != ''}" th:text="': ' + ${book.author}">Author</span> <br />
                <span th:if= "${book.isbn !='' and book.isbn !='error'}" th:text="'ISBN: ' + ${book.isbn}">ISBN</span>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </body>
</html>


