<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saved books</title>
    <!--/*/ <th:block th:include="fragments/head.html :: head">
    </th:block> /*/-->
</head>
<body>
<div class="container main-content">
<div class="col-md-12">
    <h3 th:if="${dto}" th:text="${dto.title}"></h3>
    <h3 th:unless="${dto}" th:text="${book.title}"></h3>
    <br/>
</div>

<div class="col-md-6">
    <div th:if="${dto}">
        <h4>Authors:</h4>
        <span th:each="auth : ${dto.authors}">
            <span th:text="${auth}"></span> <br/>
        </span>
        <h4>Languages:</h4>
        <span th:each="lng : ${dto.languages}">
            <span class="label label-warning" th:text="${lng}"></span>

        </span>
        <h4 th:unless="${dto.series.size() == 0}">Series:</h4>
        <ul th:each="ser : ${dto.series}">
            <li th:text="${ser}"></li>
        </ul>
        <h4 th:unless="${dto.subjects.size() == 0}">Subjects:</h4>
        <span th:each="sub : ${dto.subjects}">
            <span class="label label-primary" th:text="${sub}"></span>
        </span>
        <h4 th:unless="${dto.libraries.size() == 0}">Available from:</h4>
        <h4 th:if="${dto.libraries.size() == 0}">This book is not available from Helmet libraries.</h4>
        <span th:each="lib : ${dto.libraries}">
            <span class="label label-info" th:text="${lib}"></span>
        </span>
        <br/>

    </div>
    <div class="col-md-6" th:unless="${dto}">
        <h4>Author:</h4>
        <span th:text="${book.author}"></span>
    </div>
</div>
    <div class="col-md-6">
        <span th:if= "${book.isbn !='' and book.isbn !='error'}"><h4>ISBN: </h4> <span th:text="${book.isbn}"></span></span>
        <h4>Book options</h4>
        <!--/*/ <th:block th:include="fragments/book_options.html :: options(book=${book}, read=${book.read})">
        </th:block> /*/-->
    </div>
    <div class="col-md-12">        
        <form th:action="@{'/'}" class="inline" method="GET">
        <input type="submit"
            th:id="returnButton"
            value="return"
            class="btn btn-outline-info btn-sm home-button"   />
        </form>
    </div>
</div>
</body>
</html>